.top-categories-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  display: flex; 
  flex-wrap: wrap; 
}

.top-category-button {
  margin: 5px; 
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #D4E0FD;
  text-align: left;
  cursor: pointer;
  white-space: nowrap; 
  display: inline-block; 
}

.top-category-button:hover {
  background-color: #D4E0FD;
}
