 

.top20{
  border-radius: 12px;
  position: absolute;
  top: 487px;
  right: 20px;
  width: 1295px;
}

.top-category-button {
  position: relative;
  left: 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 40px;
  background-color: #D4E0FD;
  text-align: left;
  cursor: pointer;
  white-space: nowrap; 
  display: inline-block; 
}

.top-category-button:hover {
  background-color: #D4E0FD;
}



.buttons-container{
  height: 308px;
  width: 1295px;
  border-radius: 12px;
  position: absolute;
  top: 131px;
  left: 556px;
}

.category-button-container{
  position: absolute;
  left: 25px;
}
.profile-container{
  position: relative;
  margin: 30px;
  width: 475px;
  height: 775px;
  background-color: #fff;
  border-radius: 12px;
}
