.favorites-container {
  padding: 20px;
}

#header {
  margin-bottom: 20px;
}

.message {
  color: red;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer; 
}

.quiz-content {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.remove-button {
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #007bff;
  
}

.detail-button {
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #0056b3;
}
